body {
  font-family: 'Noto Serif';  
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 10px 0;
}

h4 {
  font-size: 22px;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0F4C81;
}

#navbar h3 {
  margin: 0;
}

#navbar a {
  padding: 20px 30px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background: #ddd;
  color: black;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #F0EDE5;
}

.project-grid {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#projects {
  background-color: #A5B8D0;
}

#project-title {
  margin: 0;
  padding: 50px 0 50px 0;
  text-align: center;
}

.project-grid-div {
  background-color: #120d5d;
  color: white;
  text-align: center;
  padding: 10px 10px;
  max-width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.grid-img {
/*   max-width: 100%; */
  height: 350px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.grid-inline-div {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #120d5d;
  color: white;
  text-align: center;
  padding: 20px 0 30px 0;
  max-width: 100%;
  margin-bottom: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

span {
  font-family: 'Lobster';
}

.project-grid-div:hover {
  cursor: pointer;
  color: #F26B5B;
}

.grid-inline-div:hover {
  cursor: pointer;
  color: #ff7f50;
}

.contact-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0 2rem;
  background: #f1bdbd;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.contact-details {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

.contact-details:hover {
  text-decoration: underline;
  background-color: #fe7878;
}

footer {
  background-color: #0F4C81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

footer > p {
  margin: 0;
  color: white;
}

@media (max-width: 950px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
  
  .project-grid-div {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}